@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

html, body {
  padding: 0px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #4d4d4d;
  height: 100%;

  .arrow {
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    z-index: 101;
    cursor: pointer;
  }

  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }

}

.main {
  height: 100%;
}

.content {
  padding: 40px 20px;
}

.header {
  background-color: rgba(28, 54, 83, 0.6);
  text-align: center;
  display: flex;
  .left{
    flex:1;
  }
  .center{
  }
  .right{
    flex:1;
  }

  button {
    background-color: rgba(28, 54, 83, 0.6);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
  }

  button:hover {
    cursor: pointer;
    color: #e8ca6f;
  }

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.welcome {
  margin-top: 50px;
  height: 100%;
}
.std_pic{
  img{
    width: 100%;
    height: auto;
  }
}
.saveTheDate {
  .ramme{
    display: flex;
    border: solid 1px black;
    margin: 0 10% 0 10%;
    .right{
      flex: 1;
      border-left: solid 1px black;
      margin: 5% 5% 5% 0;
      .overskrift{
        border-bottom: solid 1px black;
        margin: 0 5% 0 5%;
        //color: black;
        color: #dcab2b;
        font-family: wedding;
        font-size: 5.5vw;
        text-align: center;
      }
      .innhold{
        margin-top:20px;
        text-align: center;
        color: #414244;
        margin: 0 10% 0 10%;
        font-family: "Merriweather,Georgia,serif";
        font-style: normal;
        font-size: 3vw;
      }
      .first{
        margin: 2% 10% 0 10%;
      }
      .underskrift{
        padding-top: 1vw;
      }
    }
    .left{
      flex: 1;
      max-height: 100%;
      margin: 2% 2% 2% 2%;
      background-image: url(../img/forlovese.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  .kalender{
    text-align: center;
    margin-top:2vw;
    display: flex;
    justify-content: center;
    a {
      color: black;
      margin-right: 0.5vw;
      font-size: 1vw;
    }
    .MuiSvgIcon-root-1{
      fill:#dcab2b;
      margin-top: -0.2vw;
      font-size: 1.5vw;
    }
    .jss1{
      fill:#dcab2b;
      margin-top: -0.2vw;
      font-size: 1.5vw;
    }
  }
}

.lognvik {
  background-color: pink;
}

.practicalInfo {
  background-color: bisque;
}
@font-face {
  font-family: wedding;
  src: url(../fonts/exmouth_.ttf);
}
@font-face {
  font-family: wedding2;
  src: url(../fonts/Adinda.ttf);
}
